@using MovieImportService
@model IEnumerable<Movie>

@{
    ViewBag.Title = "My Movies";
}

<div class="jumbotron">
    <h1>My Movies</h1>
    <p class="lead">Your favourite movies.</p>
</div>

<div class="container availableMovies">
    <header>My favourite movies</header>
    <div class="row">
        @Html.DisplayForModel()
    </div>
</div>