@using MovieImportService
@model IEnumerable<Movie>

@{
    ViewBag.Title = "My Movies";
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $(".tile").click(function () {
                var self = $(this);
                var movieId = self.find(".id").val();
                $.ajax({
                    url: "MyFavourites",
                    type: "PUT",
                    data: { id: movieId }
                })
                .done(function () {
                    self.fadeOut()
                });

                
            });
        });
    </script>
}

<div class="jumbotron">
    <h1>My Movies</h1>
    <p class="lead">Your favourite movies.</p>
</div>

<div class="container availableMovies">
    <header>Available movies</header>
    <div class="row">
        @Html.DisplayForModel()
    </div>
</div>

